.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0px;
}

.cart{
  margin: 30px 0px;
}

.cart h1{
  text-align: center;
}
.currency{
  border: 0px;
    background-color: #2353e4;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
    height: 100%;
      margin: 6px;
      margin-top: 0px;
}
.total{
  border-radius: 10px;
  margin: 30px 0px;
  padding: 10px;
  background-color: #bdbfc6;
  border-color: #082375;
  border-style: solid;
  font: 18px sans-serif;

}